h1{
    /* border-width: 3px;
       border-style:solid ;
       border-color: rgb(255, 7, 193);  */
    border : 3px solid rgb(247, 25, 202);
    border-radius: 10px;
}
p{
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted rgba(255, 132, 0, 0.929);
    border-right: 3px dotted rgb(22, 233, 22);
    border-radius: 10px;
}

    /* border-style:dashed ; */
    /* border-style:dotted ; */
    /* border-style:double ; */
    /* border-style:groove ; */
    /* border-style:ridge ; */
    /* border-style:inset; */
    /* border-style:outset ; */
    /* border-style:none ;    */
    /* border-style:hidden ; */
