#container{
    border: 2px solid black;
}
/*
#container p{
    background-color: lightgreen;
} */

/* #container > p{
    background-color: lightgreen;
} */

/* #container ~ p{
    background-color: lightgreen;
} */

#container + p{
    background-color: lightgreen;
}