.gallery{
    display: inline-block;
    border: 1px solid rgba(165, 165, 165, 0.973);
    margin: 5px;
    width: 200px;
}
.gallery .description{
    text-align: center;
    padding: 10px;
}
.gallery:hover{
    border: 1px solid rgba(53, 53, 53, 0.973);
}
.gallery img{
    width: 100%;
    height: auto;
}