body{
    margin: 0px;
}

.box{
    width: 250px;
    height: 250px;
    font-size: 5em;
    border : 5px solid black;
}
#box1{
    background-color: rgb(253, 28, 28);   
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /* margin-left: 50px; */
    /* margin: auto;(center)box in the middle */
    /* margin: 50px;(all sides) */
    /* margin-left: auto;(all the way to right corner) */
    /* margin-right: auto;(by default its left aligned) */
}
#box2{
    background-color: rgb(61, 197, 243);
}