.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(45, 255, 45);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(225, 224, 224);
    border-radius: 5px;
}